# Define que todos los paquetes bajo el scope @luwy-dyro pertenecen al registro de GitHub Packages.
@luwy-dyro:registry=https://npm.pkg.github.com/

# registry=https://registry.npmjs.org/
# @luwy-dyro:registry=https://npm.pkg.github.com/
# //npm.pkg.github.com/:_authToken=${NPM_TOKEN}
# always-auth=true@csf:registry=https://npm.pkg.github.com/

# Autentica todas las peticiones al registro de GitHub Packages usando una variable de entorno.
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}